<!DOCTYPE html>
<html>
  <head>
    <title>RailsTsReact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if Rails.env.development? %>
      <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':3001/livereload.js?snipver=1"></' + 'script>')
      </script> 
    <% end %>
  </head>
  <body>
    <div id="app"
      data-app-json="<%= prop_data_json %>"
      data-page-path="<%= view_uri %>"
    ></div>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
