<!DOCTYPE html>
<html>
  <head>
    <title>RailsTsReact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div id="app"
      data-app-json=<%= prop_data_json %>
      data-page-path="<%= view_uri %>"
    ></div>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
